* {
    margin:0;
    padding:0;
}
body {
    font-family: 'Nunito Sans', sans-serif;
}
.main {
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.text {
    color: #FAF9F9;
    flex: 0 0 580px;
    padding-top: 170px;
    padding-bottom: 170px;
}
h1 {
    font-family: 'Nunito Sans';
    font-size: 120px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 140px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 40px;
}

h1 span {
    color:#FBB731;
    font-family: 'Nunito Sans';
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
    display: block;
    margin-bottom: 10px;
}
p {
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
    color:#DEDEDE;
    margin-bottom: 40px;
}
.main a, .promo a {
    color:#1E2F40;
    background: #FBB731;
    border-radius: 5px;
    padding: 20px 45px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}
.visual {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.bg {
    width: 432px;
    height: 100%;
    background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}
.main img {
    width: 829px;
    position: absolute;
    right:-168px;
}
.promo {
    padding-top: 186px;
    padding-bottom: 186px;
}
.promo-left, .promo-right {
    flex: 0 0 49%;
    color: #DEDEDE;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 580px;
    max-height: 395px;
    background-position-x: center;
}
.promo-left {
    background-image: url(../img/img.png);
    padding: 116px 50px;
}
.promo-right {
    background-image: url(../img/img1.png);
    padding: 102px 50px;
}
.promo-left .discription {
    max-width: 392px;
}
.promo-right .discription {
    max-width: 300px;
    margin-bottom: 20px;
}
.sale{
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 0px;
    padding: 5px 19px;
    text-transform: uppercase;
    background: #F37335;
    display: inline-block;
    border-radius: 20px;
    margin-bottom: 20px;
    height: 28px;
}
.cost {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 20px;
}
.discription {
    color: #FAF9F9;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}
.free {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 56px;
    margin-bottom: 10px;
}
.footer {
    background: #1E2F40;
}
.item, .tel {
    flex: 0 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.logo {
    width: 63px;
    height: 56px;
}
.item h2 {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    color: #DEDEDE;
}
.item ul, .tel ul {
    list-style-type: none;
}
.item ul {
    color: #DEDEDE;
}
.tel ul {
    color:#FBB731;
}
.item li, .item a {
    margin-bottom: 9px;
    color: #DEDEDE;
    text-decoration: none;
}